## Visual Studio / .NET Core
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider / JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db
